		#clockbox img{
			width: 2rem;
			height: 4rem;
		}
		#clockbox {
			width: 19rem;
			height: 4rem;
			position: absolute;
			bottom: 50px;
			left: 100px;
			border: 3px solid #03a9f4;
			border-radius: 5px;
			box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.7); 
			transition: all 1s;
		}
		.Angle {
            position: absolute;
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid white;
            border-radius: 5px;
            z-index: -999;
            height: 2.5rem;
            width: 10px;
            background: #03a9f4;
		}